<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Welcome to Merge API</title>
</head>
<body>
    
<p>
    <li><span>GET:</span> / </li>
    
    <!-- USERS -->
    <li><span>GET:</span> /users</li>
    <li><span>GET:</span> /users/:id</li> 
    <li><span>POST:</span> /users</li>
    <li><span>PATCH:</span> /users</li>
    <li><span>PUT:</span> /users/:id</li>
    <li><span>DELETE:</span> /users/:id</li>
    <li><span>GET:</span> /users/:id/cart</li>
    <li><span>POST:</span> /users/:id/cart</li>
    <li><span>PUT:</span> /users/:id/cart</li>
    <li><span>DELETE:</span> /users/:id/cart</li>

    <!-- PRODUCTS -->
    <li><span>GET:</span> /products</li>
    <li><span>GET:</span> /products/:id</li>
    <li><span>POST:</span> /products</li>
    <li><span>PUT:</span> /products/:id</li>
    <li><span>DELETE:</span> /products/:id</li>
</p>


</body>

<script src="../src/app.js"></script>
</html>